<h1>Add Location</h1>
<div class="hero-unit">

<form id="loc_edit_form" action="/locations" method="POST">


  Name:<br/><input type="text" name="name"></input><br/>
  Description:<br/><textarea cols="50" rows="10" name="description"></textarea>


   <h4>Exits:</h4>
  <div style="margin-left: 100px;"> North <input type="text" name="north"></input></div>
  West <input type="text" name="west"></input>
  East <input type="text" name="east"></input>
  <div style="margin-left: 100px;">South <input type="text" name="south" ></input></div>


 <input type="submit" class="btn btn-primary" value="Add Location"></input>
</form>

</div>


<form id="loc_edit_form" action="/locations" method="POST">

